* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    overflow-x: none;
}

.header {
width: 100vw;
background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 2000%);
height: 55px;
}

.headerList {
list-style: none;
margin-left: 10px;
margin-right: 20px;
display: flex;
justify-content: space-around;
align-items: center;
}

#logo {
font-size: 3rem;
color: rgb(145, 7, 7);
}

a {
    text-decoration: none;
    color: rgb(123, 0, 49);
}

#headerItems {
    display: flex;
    gap: 20px;
}

/* Main */
.contentBox {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 2000%);
    border: 2px solid #b12a5b;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 40px;
}

.item {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
}

.leftBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftBox h2 {
    color: #8f068f;
    font-size: xx-large;
}

.leftBox ul {
list-style-type: disc !important;
padding-left: 5% !important;
}

.rightBox {
    position: relative;
}
.rightBox img {
    height: 300px;
    border-radius: 20px;
    transition: all 0.7s;
}

.rightBox img:hover {
    transform: scale(1.2);
    border-radius: 50%;
}










/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 2000%);
    width: 100vw;
    /* height: 20%; */
}

footer p {
    color: rgb(17, 0, 71);
    font-size: 15px;
}